# Python virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db